.notifications {
    width: 25%;
    height: 99%;
    text-align: center;
    background-color: black;
    overflow-y: auto;
}

.danger {
    width: 80%;
    margin-left: 10%;
    height: 100px;
    font-size: 30px;
    background-color: #F93B3B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    text-shadow: 5px 5px 20px black;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .warning {
    background-color: #F2FC4F;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .notifications::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .notifications {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }